SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

APP_JWT_SECRET=

OLLAMA_MODEL=qwen3:4b
OLLAMA_PORT=11434
OLLAMA_IMAGE=ollama/ollama:latest
